<ul class="pull-left list-inline icons">
	<li><%= link_to (image_tag "twitter.png", class: "icon"), "http://www.twitter.com/example" %></li>
	<li><%= link_to (image_tag "linkedin.png", class: "icon"), "http://www.linkedin.com/example" %></li>
	<li><%= link_to (image_tag "email.png", class: "icon"), "mailto:email@example.com" %></li>
</ul></br></br>
<h2 class="text-center"> Your Name </h2>
	<ul class="nav nav-pills nav-justified">
			<li><%= link_to 'About', "/about" %></li>
			<li><%= link_to 'Gallery', "/" %></li>
			<li><%= link_to 'Blog', "/posts" %></li>
	</ul>
<hr>
